---
layout: default
---

  <div id="homeid" class="col-sm-8">


	{{ content }}
  </div>

  <div id="headshot" class="col-sm-4" style="padding-top:0px" >
  <hr>
  <center>
  <img src="{{site.url}}/images/teampic/john-novembre-small.png" width="160">
</center><p>

  <b>John Novembre, PhD </b><br>
  Professor<br>
  Department of Human Genetics<br>
  Department of Ecology & Evolution<br>
  University of Chicago<p>

  BA, The Colorado College (2000) <br>
  PhD, University of California-Berkeley (2006)
<hr>
  email: jnovembre uchicago edu<br>
  twitter: <a href="https://twitter.com/jnovembre">@jnovembre</a><br>
  phone: 773-834-8217<br>
  office: <a href="http://architecture.uchicago.edu/locations/cummings_life_science_center/", target="_blank">Cummings 421</a><br>
  address: 920 E 58th Street, Chicago, IL 60616<br>
  <a href="https://genes.uchicago.edu/directory/john-novembre-phd" target="_blank" >[UChicago Profile]</a><br>
  <a href="{{site.url}}/doc/JN_CV_2017_BSD.pdf", target="_blank">[Curriculum vitae]</a><br>
<hr>
  </div>
  <div id="newsid" class="col-sm-4" >
    {% include news.html %}

  </div>
