---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Welcome to the Novembre Lab</h1>

	{{ content }}
  </div>

  <div id="headshot" class="col-sm-4" style="padding-top:10px" >
  <hr>
  <center>
  <img src="images/teampic/john-novembre-small.png" width="180">
  </center><p>

  <b>John Novembre, PhD </b><br>
  Professor<br>
  Department of Human Genetics<br>
  Department of Ecology & Evolution<br>
  University of Chicago
<hr>
  </div>
  <div id="newsid" class="col-sm-4" >
    {% include news.html %}

  </div>
