---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Welcome to the Novembre Lab</h1>

	{{ content }}
  </div>

  <div id="headshot" class="col-sm-4" style="padding-top:0px" >
  <hr>
  <center>
  <img src="images/teampic/john-novembre-small.png" width="160">
  </center><p>

  <b>John Novembre, PhD </b><br>
  Professor<br>
  Department of Human Genetics<br>
  Department of Ecology & Evolution<br>
  University of Chicago<p>

  BA, The Colorado College (2000) <br>
  PhD, University of California-Berkeley (2006)<p>
<hr>
  email: jnovembre uchicago edu<br>
  twitter: <a href="https://twitter.com/jnovembre">@jnovembre</a><br>
  phone: 773-834-8217<br>
  office: <a href="http://architecture.uchicago.edu/locations/cummings_life_science_center/">Cummings 412</a><br>
  address: 920 E 58th Street, Chicago, IL 60616<br>
  <a href="https://genes.uchicago.edu/directory/john-novembre-phd">[UChicago Profile]</a><br>
  <a href="_data/JN_CV_2017_BSD.pdf">[Curriculum vitae]</a><br>
  <a href="https://scholar.google.com/citations?hl=en&user=wIib4t0AAAAJ&view_op=list_works&gmla=AJsN-F75D_ue3zbyCA1ZMYQzxjZNPZ560I1GpbCwJq6S2SBeY2FAdW0K8b_Ck7SVowmT2Nt8CrwYQJvMvQ25qdT8yBXJHVtuhUOtmcnEIFj1AJYiYTt32u8"[Google Scholar]</a><br>

  </div>
  <div id="newsid" class="col-sm-4" >
    {% include news.html %}

  </div>
